<div class="wrapper">
    <h1>Portfolio</h1>
    <div class="float-parent">
        <figure class="float-minor">
            <img src="img/profile.gif" alt="animation" class="ani"> 
            <figcaption>Namrata's Animation Project</figcaption>
        </figure>
        <figure class="float-minor">
            <img src="img/bookcover.jpg" alt="illustration" class="illustration"> 
            <figcaption>Book Cover Illustration</figcaption>
        </figure>
        <figure class="float-minor">
            <img src="img/form.png" alt="Form" class="form"> 
            <figcaption>JavaScript</figcaption>
        </figure>
        <figure class="float-minor">
            <img src="img/gaming-theme-code.png" alt="CSS Zen Garden" class="gaming"> 
            <figcaption>Motion Graphic Project</figcaption>
        </figure>
        <figure class="float-minor">
            <img src="img/Indesign-form.png" alt="Indesign Developed" class="indesign"> 
            <figcaption>Interactive PDF Form</figcaption>
        </figure>
    </div>
</div>